.top-news{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media screen and (max-width:1112px) {
  .top-news{
    gap:15px;
  }
}

@media screen and (max-width: 600px) {
  .top-news {
    grid-template-columns: 1fr;
  }
}
