.top-news__heading{
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: hsl(240, 100%, 5%);

}

.top-news__heading:hover{
  color: hsl(5, 85%, 63%);
}
