.card{
  width: 100%;
  box-sizing: border-box;
  grid-area: articles;
  background-color: hsl(240, 100%, 5%);
  padding: 30px 24px 31px;
}

@media screen and (max-width: 600px) {
  .card {
    padding: 29px 23px;
    margin-top: 45px;
  }
}
